@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-titulo: #FFFFFF;
    --cor-aviso: #C0C0C0;
    --cor-botão: #167BF7;
    --cor-de-fundo: #00030c;
    --botao-azul-efeito: #3c92fa;
    
    --fonte-inter: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);

}

.principal {
    background-image: url("Assets/Background\ alura.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    text-align: center;
}

.principal__container {
    margin: 0 6em;
}

.titulo_principal {
    color: var(--cor-titulo);
    font-family: var(--fonte-inter);
    font-size: 28px;
    font-weight: 700;
}

.principal__imagem {
    margin: 1em 0 2em 0;
}

.principal__botao {
    background-color: var(--cor-botão);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--cor-titulo);
    display: block;
    font-family: var(--fonte-inter);
    font-size: 16px;
    font-weight: 400;
    margin-bottom:  1em;
}

.principal__botao__secundario {
    background-color: transparent;
    border: 2px solid var(--cor-titulo);
    font-family: var(--fonte-inter);
    font-size: 16px;
    font-weight: 400;
}

.principal__aviso {
    color: var(--cor-aviso);
    font-family: var(--fonte-inter);
    font-size: 12px;
    font-weight: 400;
}

.secundario {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 10em;
    margin: 10%;
}

.secundario__imagem {
    width: 80%;
}

.secundario__titulo {
    color: var(--cor-titulo);
    font-family: var(--fonte-inter);
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2em;
}

.secundario__paragrafo {
    color: var(--cor-titulo);
    font-family: var(--fonte-inter);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;

}

.secundario__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
    color: var(--cor-titulo);
    font-family: var(--fonte-inter);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: 48px;
}

.lista__item {
    font-size: 32px;
}

.rodape {
    text-align: center;
    font-family: var(--fonte-inter);
}

.rodape__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 1em;
}

.lista__link {
    text-decoration: none;
    color: var(--cor-titulo);
    margin-left: 1em;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__texto {
    margin-top: 1em;
    color: var(--cor-aviso);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--cor-botão);
}

.principal__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}